[MASTER]
load-plugins=pylint_django
django-settings-module=django_bootstrap_icons_sample.settings
ignore-patterns=\d{4}_.*?.py

[FORMAT]
max-line-length=120

[MESSAGE CONTROL]
disable=
    missing-module-docstring, missing-class-docstring, missing-function-docstring, import-outside-toplevel