include LICENSE README.md CHANGELOG.md
recursive-include django_bootstrap_icons/static *
recursive-exclude * __pycache__
recursive-exclude * *.png
recursive-exclude * manage.py
recursive-exclude *
recursive-exclude django_bootstrap_icons_sample *
